@font-face {
    font-family: 'StarJediHollow-A4lL';
    src: url('../../assets/fonts/StarJediHollow-A4lL.ttf') format('truetype');
}

.star-wars-font {
    font-family: 'StarJediHollow-A4lL', sans-serif;
}

.input-no-outline:focus {
    outline: none;
    /* border: 'none' */
}

.mybutton{
    border: 1px solid black;
    border-radius: 8px;
    background-color: #FFF428;
    padding: 6px 13px;
    margin: 6px 4px;
    font-family: sans-serif;
    font-weight: 500;
}